body {
    display: flex;
    flex-direction: column;
    font-family:'Times New Roman', Times, serif;
    align-items: center;
    background-color: black;
    gap: 24px;
}

.header, .text {
    color: white;
}

.header {
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
}

.text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

button {
    padding: 16px 32px;
    border: 1px solid white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 8px;
    transition-duration: 0.4s
}

button:hover {
    color: white;
}

#Rock {
    background-color:seagreen;
}

#Paper {
    background-color:firebrick;
}

#Scissors {
    background-color: dodgerblue;
}

.score-container {
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding: 16px;
}